@import '../variables.module.scss';
@import '../mixins';

.global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-family: $fontFamily1;
  font-size: $fontSize1;
  color: $letterColor;
}

@include tablet() {
  .global{
    font-size: 1.5rem;
  }
}