
$backgroundColor: rgb(0, 0, 0);
$backgroundMenu: rgba(0, 0, 0, 0.8);
$letterColor: rgb(255, 255, 255);
$spanColor1: rgb(51, 196, 253);
$spanColor2: rgb(192, 192, 192);

$fontFamily1: 'Audiowide', cursive;
$fontFamily2: 'VT323', monospace;
$fontSize1: 16px;
$fontSize2: 18px;
$fontSize3: 20px;