
$backgroundColor: rgb(0, 0, 0);
$backgroundMenu: rgba(0, 0, 0, 0.8);
$letterColor: rgb(255, 255, 255);
$spanColor1: rgb(138, 4, 269);
$spanColor2: rgb(220, 20, 60);
$telegram: rgb(55, 150, 255);
$github: rgb(100, 100, 100);
$mail: rgb(240, 110, 60);
$linkedin: rgb(50, 60, 249);

$fontFamily1: 'Audiowide', cursive;
$fontFamily2: 'VT323', monospace;
$fontSize1: 16px;
$fontSize2: 18px;
$fontSize3: 20px;